<!doctype html>
<html lang="zh-cmn-hans">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>{% block title %}来自香蕉实验室{% endblock %}</title>

    {% block defaultCSS %}
    <link rel="stylesheet" href="{{ path }}/web/src/css/weui.min.css">

    {% endblock %}

    {% block Stylesheet %}{% endblock %}
    <link rel="stylesheet" href="{{ path }}/web/src/css/index.css">

    {% block headScript %}{% endblock %}
  </head>
  <body ontouchstart="">
    {% block body %}{% endblock %}

    {% block defaultScript %}
    <script type="text/javascript" src="{{ path }}/web/src/js/zepto.js"></script>
    <script type="text/javascript" src="{{ path }}/web/src/js/jquery-weui.js"></script>
    {% endblock %}
    {% block Script %}
    {% endblock %}
    {{ a }}
  </body>
</html>
