{% extends "_html.twig" %}

{% block title %}文章标题{% endblock %}

{% block body %}
	<div class="article-page">
		<article class="weui_article">
			<h1>{{ article['title']|raw }}</h1>
			<section class="article-info">
				<span class="article-date">2016-02-08</span>
				<span class="article-writor">{{ article['author'] }}</span>
				<span class="article-source">{{ article['share'] }}</span>
			</section>
			<section class="article-content">
				{{ article['content'] |raw}}</p>
			</section>
			<div class="article-count">
				<span class="article-read">阅读 {{ article['read_num'] }}</span>
				<span class="article-like" id="likeBtn">点赞 <span id="like-num">{{ article['like_num'] }}</span></span>
				<a class="article-detail" href="statistics/{{ article['id'] }}" >详细数据</a>
			</div>
		</article>
	</div>
{% endblock %}

{% block Script %}
<script type="text/javascript">
	$('#likeBtn').on('click', function () {
      var like_num = $('#like-num').text();
      var liked_num = parseInt(like_num) + 1;
	  //console.log(like_num);
	  $.ajax({
	    type: 'POST',
	    url: '{{ path }}/like',
	    data: {
	       id: {{ article['id'] }},
	     },
	    dataType: 'json',
	    timeout: 5000,
	    context: $('body'),
	    success: function(data){
	      if(data.status=='success'){
	      	$('#like-num').text(liked_num);
	      }
	      if(data.status=='failed'){
	      	alert(data.msg);
	      }
	    },
	    error: function(xhr, type){
	      console.log(xhr)
	      alert('Ajax error!')
	    }
	  })    
	})
</script>
{% endblock %}

